@font-face {
    font-family: 'DungGeunMo';
    src: url('/assets/DungGeunMo.woff') format('woff'),
        url('/assets/DungGeunMo.woff2') format('woff2'),
        url('/assets/DungGeunMo.ttf') format('truetype');
    font-weight: 100 900; /* 1~1000 범위 지정 */
    font-style: normal;
    font-display: swap;
}
  
  body {
    font-family: 'DungGeunMo', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }
  