html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  image-rendering: pixelated;
}

body{
  width: 2560px;
  height: 1400px;
}

.game-container{
  margin: 0;
  padding: 0;
}

canvas{
  margin: 0;
  padding: 0;
}
